@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,700");

body {
    background-color: #F9FAFC;
    font-family: 'Roboto', sans-serif !important;
}

.main-site-heading {
    color: white;
    text-align: center;
    font-size: 5rem;
    text-shadow: 1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgb(0, 0, 0);
}

.main_dark_green {
    background-image: linear-gradient(to right, rgb(2, 219, 46), rgb(10, 108, 1));
    border-bottom: 5px solid rgb(230, 98, 3);
}

hr.home_hr {
    width: 20%;
    margin: auto;
    border-top: 5px solid rgb(230, 98, 3);
    margin-bottom: 1rem;
    opacity: 1;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

.nav-item {
    border-bottom: 2px solid transparent;
}

.nav-item:hover {
    border-bottom: 2px solid rgb(230, 98, 3);
}

.jumbotron {
    background: url("https://res.cloudinary.com/dqp0vlv6x/image/upload/v1658824440/cliffs_home_ezgfp1.jpg") 50% 0 no-repeat fixed;
    min-height: 20rem;
    padding: 3rem;
}

.jumbotron h3 {
    color: white;
    font-size: 2.5rem;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: rgb(10, 108, 1)
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.card-title {
    color: rgb(10, 108, 1);
}

.card-title:hover {
    color: rgb(230, 98, 3);
}

.image-container {
    position: relative;
    margin-bottom: 0.8rem;
}

.location-homepage-info {
    position: absolute;
    top: 0;
    min-width: 30%;
    right: 0;
    background-color: rgb(10, 108, 1);
}

.author {
    color: white;
    margin: 0.8rem;
    /* text-transform: uppercase; */
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.location-title {
    /* margin-top: 3rem; */
    margin-left: 5%;
}

.location-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: rgb(10, 108, 1);
    color: #fff;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: rgb(2, 219, 46);
    border: 1px solid rgb(10, 108, 1);
}

.link {
    color: rgb(10, 108, 1);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: rgb(230, 98, 3);
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.comment-body {
    padding: 2rem;
    padding-bottom: 1rem;
    border: 1px solid rgb(10, 108, 1);
    background-color: white;
}

.table-spacer {
    border-bottom: 2px dotted rgb(2, 219, 46);
    margin-bottom: 1rem;
}

.like {
    text-align: right;
}

@media only screen and (max-width: 400px) {
    .main-site-heading {
        color: white;
        text-align: center;
        font-size: 4rem;
        text-shadow: 1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgb(0, 0, 0);
    }
  }